.container {
  display:  flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding : 0 2rem;
}

.main{
  text-align: center;
}

.table{
  margin : 0 auto;
 
  width: 50%;
}
























